<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Martyn's Fencing</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../node_modules/socket.io/socket.io.js"></script>
    <script src="https://cdn.socket.io/4.4.1/socket.io.min.js" integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H" crossorigin="anonymous"></script>


    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
</head>
<body>
<div class="header">
    <p class="titleHeading">Martyn's Fencing Supplies and Installation</p>

    <ul class="nav">
        <li><a class="active" href="app.ejs">Home</a></li>
        <li><a href="about.ejs">About</a></li>
        <li><a href="products.ejs">Products</a></li>
        <li><a href="contact.ejs">Contact us</a></li>
        <li><a href="checkout.ejs">Checkout</a></li>
        <li><a href="admin.ejs">Admin</a></li>
    </ul>



</div>
<ul class="homeBar">
    <li class="h"><br>Opening hours <br> Mon-Sat: 8am - 5pm</li>
    <li class="h"><br>Local Delivery</li>
    <li class="h"><br>Call now on <br>  07773722896 </li>
    <li class="h"><a href="https://goo.gl/maps/1qaFxs2KE6QTxY7i8">Martyn's Fencing <br>
        Unit C14 Backfield Farm <br>
        Wotton Road, Iron Action <br>
        BS37 9XD<br></a>
    </li>
</ul>

<p>home page

include brief text

    pictures of fences (potentially link pics that take to the products included?










</p>

</body>

</html>