<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products - Martyn's Fencing</title>
    <link rel="stylesheet" href="css/styles.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../App.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
</head>
<body>
<div class="header">
    <p class="titleHeading">Martyn's Fencing Supplies and Installation</p>

    <ul class="nav">
        <li><a class="active" href="app.ejs">Home</a></li>
        <li><a href="about.ejs">About</a></li>
        <li><a href="products.ejs">Products</a></li>
        <li><a href="contact.ejs">Contact us</a></li>
        <li><a href="checkout.ejs">Checkout</a></li>
    </ul>


</div>

<p>products page

needs to take all products from database and show the on the page - with images and lil descriptions


</p>

</body>
</html>